<!DOCTYPE html>
<html>
<head>
  <title>Extraction Result</title>
</head>
<body>
  <h1>Extraction Result</h1>
  <% if (data === 'Extraction failed') { %>
    <p>Extraction failed. Please try again.</p>
  <% } else { %>
    <pre><%= data %></pre>
  <% } %>
</body>
</html>
